@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap.css");

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(33, 33, 33);
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(57, 57, 57, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.App {
  height: 80vh;
  display: grid;
  place-items: center;
  width: 75%;
  margin: auto;

  h2 {
    font-weight: 500;

    font-size: clamp(1.5rem, 2vw, 2.5rem);
  }

  .MuiSvgIcon-root {
    padding: 10px;
    color: grey;
    transition: all 0.3s !important;

    &:hover {
      color: black;
      transition: all 0.3s !important;
    }
  }

  .searchbox-div {
    width: 75%;
    margin: auto;
    height: 50vh;
    display: grid;
    place-items: center;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .searchbox {
      width: 100%;
      display: flex;
      border-radius: 30px;
      background-color: whitesmoke;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 8px;

      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 5px 8px 0px rgba(0, 0, 0, 0.1),
        0px 1px 14px 0px rgba(0, 0, 0, 0.08);

      input {
        outline: 0;
        border: none;
        width: 100%;
        flex: 1;
        padding: 0 5px;
        height: 100%;
        font-size: 22px;
        background: transparent;
      }
    }
  }

  .button {
    width: 25%;
    margin: auto;
    button {
      width: 100%;
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      color: white;
      background-color: #1b5e20;
      border: 0;
      outline: 0;
      transition: filter 0.3s ease-in-out;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
      &:hover {
        filter: brightness(1.2);
      }
    }
    @media (max-width: 1280px) {
      width: 50%;
    }
    @media (max-width: 968px) {
      width: 100%;
    }
  }
}

.validation-error {
  text-align: center;
  position: absolute;
  bottom: 20vh;
}

.confirmation {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;

  .my-urls {
    padding-top: 1rem;

    a {
      display: block;
      padding: 5px;
    }
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}

.MuiAlert-root {
  border-radius: 30px !important;
}
